---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: 'Actualmente...',
    title: 'Back-end developer on Ruby on Rails',
    description: 'Maintenance of an API developed in Ruby on Rails, asynchronous jobs, manipulation of XML, communication with other microservices, conducting tests with RSpec for controllers and models, and using Azure DevOps for project management.',
    //link: '#'
  },
  {
    date: 'September/2022 - March/2023',
    title: 'Back-end developer on Ruby on Rails',
    description: 'Maintenance a monolith built in Ruby on Rails, create new modules and fix bugs in the modules created, migrate some views from Rails to React using bootstrap and Sass, implement Okta authentication and deploy on Heroku.',
    //link: '#'
  },
  {
    date: 'January/2020 - July/2022',
    title: 'Fullstack developer',
    description: 'I developed a MVP for an academy like Udemy or Platzi where backend was developed on Ruby on Rails and Frontend in React.js. I also build landing pages for a startup in react.js for different companies taking care of all details required for every company. Finally I have worked in another freelance projects where I implement microservices, managed asynchronous jobs with Redis, Sidekiq and Kafka. Deployments on AWS and Heroku. ',
    //link: '#'
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>  
      </li>
    ))
  }
</ol>
