---
import { getI18N } from "./i18n/";
const { currentLocale = "en" } = Astro;
const i18n = getI18N({ currentLocale });
---

<footer class="bg-slate-200 rounded-lg shadow m-4 dark:bg-[#222]">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">{i18n.FOOTER_DESCRIPTION}
    </span>
  </div>
</footer>
